/**
 * Created by PhpStorm.
 * User: Shuaiqiang Yin
 * Date: 7/03/2019
 * Time: 11:03 PM
 */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    /* Delete default shadow, If some one fells default shadow is good, this style can remove! */
}
body {
    background: #fff;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.4;
    font-family: Poppins,Helvetica,sans-serif;
    color: #555;
}
p {
    margin-bottom: 25px
}
#logo{
    margin-left: auto;
    width: 200px;
}
.navbar-nav {
    margin-left: auto;
}
.nav-login {
    margin-left: auto;
}
.nav-item {
    margin-left: 10px;
}
.navbar a{
    transition:0.3s;
}
/*Main*/
.main_home {
    background: url(../img/bg_1.svg) center bottom no-repeat #0288d1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: table;
}
.main_home .content {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 21px;
    font-size: 1.3125rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
    background-color: #0288d17d;
}
@media (max-width: 991px) {
    .hero_home .content {
        padding:0 30px
    }
}
@media (max-width: 767px) {
    .hero_home .content {
        font-size:16px;
        font-size: 1rem;
        padding: 0 15px
    }
}
.main_home .content h3 {
    margin: 0;
    font-size: 60px;
    font-size: 3.75rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.content form,.main_home .content form {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-duration: .3s;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s
}
.content h3,.main_home .content h3 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-duration: .4s;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%
}
#custom-search-input {
    top: 0;
    padding: 0;
    width: 650px;
    margin: auto;
    position: relative
}
@media (max-width: 991px) {
    #custom-search-input {
        width:auto
    }
}
#custom-search-input .search-query {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,.35);
    -moz-box-shadow: 0 0 50px 0 rgba(0,0,0,.35);
    box-shadow: 0 0 50px 0 rgba(0,0,0,.35);
    font-weight: 500;
    font-size: 16px;
    font-size: 1rem;
    color: #333;
}
#custom-search-input input[type=submit] {
    position: absolute;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    right: 0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-size: 1rem;
    top: 0;
    border: 0;
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #74d1c6;
}
#custom-search-input input[type=submit]:hover {
    background-color: #e74e84
}
#custom-search-input ul {
    text-align: center;
    margin-top: 25px
}
#custom-search-input ul li {
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 600
}
#custom-search-input ul li input[type=radio] {
    display: none
}
#custom-search-input ul li input[type=radio]:checked+label, #custom-search-input ul li input[type=radio]:checked+label:hover {
    background-color: #74d1c6;
    color: #fff
}
#custom-search-input ul li input[type=radio]:hover+label {
    background-color: #e74e84;
    color: #fff
}
#custom-search-input ul li label {
    display: inline-block;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #000;
    background-color: rgba(0,0,0,.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 8px 10px 6px;
    line-height: 1;
    text-shadow: none;
    min-width: 80px;
    text-align: center;
    cursor: pointer
}
#custom-search-input ul li:last-child {
    margin-right: 0
}
.main_margin{
    padding-top: 120px;
    padding-bottom: 95px;
}
@media (max-width: 991px) {
    .margin_120_95 {
        padding-top:60px;
        padding-bottom: 35px;
    }
}
@media (max-width: 767px) {
    .margin_120_95 {
        padding-top:30px;
        padding-bottom: 5px;
    }
}
.main_title {
    text-align: center;
    margin-bottom: 45px;
}
@media (max-width: 767px) {
    .main_title {
        margin-bottom:15px;
    }
}
.main_title h2 {
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .main_title h2 {
        font-size:32px;
        font-size: 2rem;
    }
}
@media (max-width: 575px) {
    .main_title h2 {
        font-size:24px;
        font-size: 1.5rem;
    }
}
@media (max-width: 767px) {
    .main_title h1 {
        font-size:32px;
        font-size: 2rem;
    }
}
.main_title p {
    font-weight: 300;
    font-size: 20px;
    color: #777;
    padding: 0 10%;
}
@media (max-width: 767px) {
    .main_title p {
        font-size:18px;
        font-size: 1.125rem;
        padding: 0;
    }
}
@media (max-width: 575px) {
    .main_title p {
        font-size:16px;
        font-size: 1rem;
    }
}
.main_title_2 {
    text-align: center;
    margin-bottom: 30px;
}
.main_title_2 h3 {
    font-weight: 300;
    font-size: 28px;
    font-size: 1.75rem;
    margin: 0;
}
.main_title_2 p {
    font-weight: 300;
    font-size: 20px;
    font-size: 1.25rem;
    color: #777;
}
.main_title_3 {
    background-color: #3f4079;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 60px;
}
@media (max-width: 991px) {
    .main_title_3 {
        margin-bottom:30px;
    }
}
.main_title_3 h3 {
    font-size: 16px;
    font-size: 1rem;
    margin: 5px 0 0;
    color: #fff;
}
.main_title_3 h3 strong {
    background-color: #e74e84;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    line-height: 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-size: 0.875rem;
    margin-right: 10px;
    position: relative;
    top: -2px;
}
.main_title_3 h3:after,.main_title_3 h3:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 54px;
    bottom: -42px;
    display: block;
    z-index: 9;
}
.add_bottom_30 {
    margin-bottom: 30px;
}
.box_feat h3 {
    font-size: 21px;
    font-size: 1.3125rem;
    margin-top: 25px;
    color: #e74e84;
    text-transform: uppercase;
}
.box_feat#icon_1 {
    background: url(../img/icon-home-1.svg) center 45px no-repeat #fff;
}
.box_feat#icon_2 {
    background: url(../img/icon-home-2.svg) center 45px no-repeat #fff;
}
.box_feat#icon_3 {
    background: url(../img/icon-home-3.svg) center 45px no-repeat #fff;
}
.box_feat span {
    position: absolute;
    top: 50%;
    right: -48px;
    margin: -42px 0 0;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ededed;
    background: url(../img/arrow.svg) center center no-repeat #fff;
    display: block;
    z-index: 9;
}
.box_feat {
    background-color: #fff;
    padding: 165px 45px 20px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    margin-bottom: 25px;
}
.appointment,a.appointment {
    border: none;
    color: #fff;
    /*background: #e74e84;*/
    background: #74d1c6;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    font-weight: 500;
}
.appointment.medium,a.appointment.medium {
    padding: 12px 45px;
    font-size: 16px;
    font-size: 1rem;
    text-decoration:none;
}
.appointment.full-width,a.appointment.full-width {
    display: block;
    text-align: center;
    padding: 12px 45px;
    font-size: 16px;
    font-size: 1rem;
    width: 100%;
}
.appointment:hover,a.appointment:hover {
    background: #0091ea;
    /*background: #74d1c6;*/
}
.appointment.outline,a.appointment.outline {
    background: 0 0;
    border: 2px solid #e74e84;
    color: #74d1c6;
}
.appointment.outline:hover,a.appointment.outline:hover {
    background: #74d1c6;
    color: #fff;
}

#reason {
    overflow-y: hidden;
}
/*Login*/
.modal-login {
    color: #636363;
    width: 350px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
    border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
}
.modal-login .modal-footer a {
    color: #999;
}
.modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #01579b;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
    width: 100%;
}
.modal-login.modal-dialog {
    margin-top: 80px;
}
.modal-login .btn {
    color: #fff;
    border-radius: 4px;
    background: #01579b;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #70c5c0;
}
.modal-content .border-top{
    margin-top: -10px;
}
#Login {
    perspective: 1000;
    transform-style:preserve-3d;
}
.custom-control-label {
    margin-left: 25px;
}
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}
.flip-container.hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
    width: 100%;
}
.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(0deg); /*fixes a bug in firefox in backface visibility*/
}
.front {
    z-index: 2;
}
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
/*Make an apportionment*/
.maa_main {
    margin-top: 30px;
}

.maa_main_title h2 {
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 36px;
    margin: 0;
}

.maa_main_title p {
    font-weight: 300;
    font-size: 20px;
    color: #777;
}

.inForm-text {
    margin-bottom: 10px;
    color: #777;
    font-weight: 300;
    font-size: 20px;
}

#count_message {
    padding: 0.2em 0.6em 0.3em;
    border-radius: 0.25em;
    background: rgba(153, 153, 153, 0.8);
    margin-top: -25px;
    margin-right: 10px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}

#reason {
    resize: none;
}
/* Contact Us */
.contact{
    margin-top: 30px;
}
/* Other */
.other_main_title{
    margin-top: 25px;
    margin-bottom: 10px;
}
/* Publications */
.publications {
    margin-top: 40px;
    margin-bottom: 40px;
}
.pub_btn_search {
    background-color: #007bff!important;
}
.result-list{
    list-style: none;
}
.result-list-li{
    padding-bottom: 20px!important;
    border-bottom: none!important;
    border-top: none!important;
    padding-top: 30px!important;
}
.pub-title{
    font-size: 2.6em;
}
.pub_img_con{
    display:block;
    margin:auto;
}
.pub-img{
    max-width: 100%;
    height: auto;
}
.pub-author {
    font-size: 14px;
}
.pub-preview{
    font-size: 18px;
}

/* Footer */
.bg-mine{
    background-color: #01579b;
}
#footer {
padding: 60px 0;
}
section .section-title {
text-align: center;
color: #007b5e;
margin-bottom: 50px;
text-transform: uppercase;
}
#footer h5{
padding-left: 10px;
border-left: 3px solid #eeeeee;
padding-bottom: 6px;
margin-bottom: 20px;
color:#ffffff;
}
#footer a {
color: #ffffff;
text-decoration: none !important;
background-color: transparent;
-webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
margin-right: 5px;
font-size:25px;
-webkit-transition: 0.5s all ease;
-moz-transition: 0.5s all ease;
transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: 0.5s all ease;
-moz-transition: 0.5s all ease;
transition: 0.5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0;
    margin-bottom: 10px;
    }
}
